<%= render 'components/navbar' %>

<div class="wrapper">
  <div class="main-container all-countries">

    <div class="div-empower-team last">
      <h1>East Asia collection</h1>
    </div>

    <div class="card-group hp last">
      <h2 class="hiden-on-web">Japan</h2>
      <div class="card last">
        <%= link_to "/japan", class: "image-link" do %>
          <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826366/fujisan_qcgfjx.jpg" %>
          <div class="layer"></div>
          <div class="info">
            <h1>Japan</h1>
            <p>
              From Shibuya crossing to Fuji-san.
            </p>
            <button>Discover</button>
          <% end %>
          </div>
      </div>

      <h2 class="hiden-on-web">South Korea</h2>
      <div class="card last">
        <%= link_to "/southkorea", class: "image-link" do %>
          <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826407/korea1_yct2o3.jpg" %>
          <div class="layer"></div>
          <div class="info">
            <h1>South Korea</h1>
            <p>
              Beyond k-ppop and k-drama!
            </p>
            <button>Discover</button>
          <% end %>
          </div>
      </div>
    </div>

  </div>
</div>
<%= render 'components/footer' %>
