<%= render 'components/navbar' %>

<div class="wrapper">
<div class="banner-hp-imp">
  <%= render 'components/banner' %>
</div>
<div class="collection-block-hp">
  <div class="main-container">

    <div class="div-empower-team first">
  <h1>Southeast Asia collection</h1>
    </div>
    <div class="card-group hp">
  <div class="card">
    <%= link_to "/philippines", class: "image-link" do %>
      <%= image_tag "philipp2.jpeg" %>
      <div cLass="layer"></div>
      <div class="info">
        <h1>Philippines</h1>
        <p>
        From the most beautiful volcano in the world to empty beaches.
        </p>
        <button>Discover</button>
      <% end %>
    </div>
  </div>
  <div cLass="card">
  <%= link_to "/vietnam", class: "image-link" do %>
    <%= image_tag "v-2.jpeg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Vietnam</h1>
      <p>
      Between rice fields to theme park.
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
    <div cLass="card">
    <%= link_to "/indonesia", class: "image-link" do %>
      <%= image_tag "i-10.jpeg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Indonesia</h1>
      <p>
      Through local wedding to instagrammable beaches.
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
</div>
<div class="card-group hp">
  <div class="card last">
  <%= link_to "/thailand", class: "image-link" do %>
      <%= image_tag "thailande5.jpeg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Thailand</h1>
      <p>
      Meeting elephants and discovering unique temples.
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
  <div cLass="card last">
  <%= link_to "/cambodia", class: "image-link" do %>
      <%= image_tag "c-16.jpeg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Cambodia</h1>
      <p>
      From Angkor Wat to the capital.
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
  </div>
</div>

  <div class="btn-article w-margin">
    <%= link_to "See more", "/southeastasia", class: "btn-article about hp" %>
  </div>
</div>

<div class="roadtrip">
  <div class="div-empower-team">
    <h1>Our roadtrip</h1>
    <div class="flex div-3blocks">
      <div class="eyt-block a">
        <h3 class="eyt-text-a">After</h3>
        <h3 class="eyt-text-b">6 months</h3>
        <h3 class="eyt-text-c">backpacking through South to North Asia.</h3>
      </div>
      <div class="eyt-block b">
        <h3 class="eyt-text-a">Discovering</h3>
        <h3 class="eyt-text-b">10 countries</h3>
        <h3 class="eyt-text-c">from the valleys of vietnam to the majestic volcanoes of Japan.</h3>
      </div>
      <div class="eyt-block c">
        <h3 class="eyt-text-a">And more than</h3>
        <h3 class="eyt-text-b">+35000km</h3>
        <h3 class="eyt-text-c">by bus, sleeper train, tuktuk and plane.</h3>
      </div>
    </div>
    <div class="flex div-2blocks">
      <div class="eyt-block d">
        <h3 class="eyt-text-a">I share with you</h3>
        <h3 class="eyt-text-b">Our to-do list of must-dos in each country.</h3>
      </div>
      <div class="eyt-block e img">
            <%= image_tag "eleph-1.jpg", height: 360, width: 550, crop: :cover %>
      </div>
    </div>
  </div>
  <div class="btn-article w-margin">
    <%= link_to "Discover", "/index", class: "btn-article about hp" %>
  </div>
</div>

  <div class="div-empower-team last">
  <h1>East Asia collection</h1>
  </div>
    <div class="card-group hp last">
  <div class="card last">
  <%= link_to "/japan", class: "image-link" do %>
      <%= image_tag "fujisan.jpeg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Japan</h1>
      <p>
      From Shibuya crossing to Fuji-san.
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
  <div cLass="card last">
  <%= link_to "/southkorea", class: "image-link" do %>
      <%= image_tag "korea1.jpeg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>South Korea</h1>
      <p>
      Beyond k-ppop and k-drama!
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
  </div>

        <%# reassurance block %>
          <div class="flex-rea-block">
            <div class="flex-article-photo-title">
              <h4>How does it works?</h4>
            </div>
            <div class="rea-element">
              <div class="flex-rea-elem 1">
                <img src="https://assets-global.website-files.com/65e83d912225d0f8fcdb5a8a/65e9702540bcfb1210126f15_Knowledge%20Base.svg" alt="Knowledge Base">
                <h6>Choose a country</h6>
                <p>Select a country through the southeast Asia and east Asia collection.</p>
              </div>
              <div class="flex-rea-elem 2" style="margin-top: 8px;">
                <img src="https://assets-global.website-files.com/65e83d912225d0f8fcdb5a8a/65eeb5e3e2366c8ce9a52d7a_AI%20suggestion.svg" alt="Knowledge Base">
                <h6>Read the to-do</h6>
                <p>Take a look to our to-do and tips.</p>
              </div>
              <div class="flex-rea-elem 3" style="margin-top: 8px;">
                <img src="https://assets-global.website-files.com/65e83d912225d0f8fcdb5a8a/65eec93d98fd26e574270d76_Comment-03%20(1).svg" alt="Knowledge Base">
                <h6>Check when it's done</h6>
                <p>When you did it, don't forget to check it!</p>
              </div>
            </div>
            <div class="btn-article">
              <%= link_to "Discover", "/index", class: "btn-article about hp" %>
            </div>
          </div>


        <%# article %>
        <div class="flex-article">
          <div class="artcile-img">
            <%= image_tag "japan-me.jpeg", height: 570, width: 440, crop: :fill, class: "article-img" %>
          </div>
          <div class="article-text">
            <div class="flex-article-photo-title">
              <%= image_tag "Somya.jpg", height: 65, width: 65, crop: :fill, class: "avatar-hp dropdown-toggle", id: "article-user-avatar", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <h5><b>Somya</b> <br>
              About us</h5>
            </div>
            <p> After 4.5 years working as an e-store specialist at Back Market, I decided to take a 6 months break to travel around Asia. From the marvellous valleys of Vietnam to the ancient temples of Angkor in Cambodia and the majestic Mount Fuji in Japan. I went to 9 countries from South to North Asia, and I'm sharing with you my to-do of things you definitely must do!
            </p>
            <div class="btn-article">
              <%= link_to "Discover", "/about", class: "btn-article" %>
            </div>
          </div>
        </div>


     <%# <div class="banner-hp">
        <div class="banner" style="background-image: url('/assets/banner-angkor.png');">
          <div class="container">
            <h1><strong>Roadtrip Organization</strong></h1>
            <p>The best tinerary, finding flight tickets, the formalities, the best backback... 7 advices to prepare your roadtrip!</p>
            <div class="btn-hp-end">
              <%= link_to "Discover", "/roadtrip", class: "btn" %>
             <%# </div>
          </div>
        </div>
      </div> %>

      </div>
    </div>
  </div>
</div>
</div>
<%= render 'components/footer' %>
