<%= render 'components/navbar' %>

<div class="wrapper">
  <div class="banner-hp-imp">
    <%= render 'components/banner' %>
  </div>
  <div class="collection-block-hp">
    <div class="main-container">

      <div class="div-empower-team first">
        <h1>Southeast Asia collection</h1>
      </div>

      <div class="card-group hp">
        <h2 class="hiden-on-web">Philippines</h2>
        <div class="card">
          <%= link_to "/philippines", class: "image-link" do %>
            <%= image_tag "https://i.ibb.co/dksZwNq/philipp2-fau8qq.jpg" %>
            <div class="layer"></div>
            <div class="info">
              <h1>The Philippines</h1>
              <p>
                Asia's pearl of the orient
              </p>
              <button>Discover</button>
            <% end %>
            </div>
        </div>

        <h2 class="hiden-on-web">Vietnam</h2>
        <div class="card">
          <%= link_to "/vietnam", class: "image-link" do %>
            <%= image_tag "https://i.ibb.co/xmRLS5M/v-2-xlsyby.jpg" %>
            <div class="layer"></div>
            <div class="info">
              <h1>Vietnam</h1>
              <p>
                Land of the Blue Dragon
              </p>
              <button>Discover</button>
            <% end %>
            </div>
        </div>

        <h2 class="hiden-on-web">Indonesia</h2>
        <div class="card">
          <%= link_to "/indonesia", class: "image-link" do %>
            <%= image_tag "https://i.ibb.co/PFVmqtD/i-10-bw5gpb.jpg" %>
            <div class="layer"></div>
            <div class="info">
              <h1>Indonesia</h1>
              <p>
                Land of the thousand islands
              </p>
              <button>Discover</button>
            <% end %>
            </div>
        </div>
      </div>

      <div class="card-group hp">
        <div class="card last hiden">
          <%= link_to "/thailand", class: "image-link" do %>
            <%= image_tag "https://i.ibb.co/QrbZ5sQ/thailande5-ycltso.jpg" %>
            <div class="layer"></div>
            <div class="info">
              <h1>Thailand</h1>
              <p>
                Land of smiles
              </p>
              <button>Discover</button>
            <% end %>
            </div>
        </div>

        <div class="card last hiden">
          <%= link_to "/cambodia", class: "image-link" do %>
            <%= image_tag "https://i.ibb.co/cr6F14h/c-16-dfv311.jpg" %>
            <div class="layer"></div>
            <div class="info">
              <h1>Cambodia</h1>
              <p>
                Kingdom of Wonder
              </p>
              <button>Discover</button>
            <% end %>
            </div>
        </div>
      </div>

    </div>
  </div>

  <div class="btn-article w-margin">
    <%= link_to "See more", "/southeastasia", class: "btn-article about hp" %>
  </div>
</div>

<div class="roadtrip">
  <div class="div-empower-team">
    <h1>Our roadtrip</h1>
    <div class="flex div-3blocks">
      <div class="eyt-block a">
        <h3 class="eyt-text-a">After</h3>
        <h3 class="eyt-text-b">6 months</h3>
        <h3 class="eyt-text-c">backpacking from the Far East to the Middle East.</h3>
      </div>
      <div class="eyt-block b">
        <h3 class="eyt-text-a">Discovering</h3>
        <h3 class="eyt-text-b">10 countries</h3>
        <h3 class="eyt-text-c">from the marvellous Ninh Binh valley to the majestic Mount Fuji.</h3>
      </div>
      <div class="eyt-block c">
        <h3 class="eyt-text-a">And more than</h3>
        <h3 class="eyt-text-b">+35000km</h3>
        <h3 class="eyt-text-c">by bus, sleeper train, tuktuk and plane.</h3>
      </div>
    </div>
    <div class="flex div-2blocks">
      <div class="eyt-block d">
        <h3 class="eyt-text-a">We share with you</h3>
        <h3 class="eyt-text-b">Our to-do list of must-dos in each country.</h3>
      </div>
      <div class="eyt-block e img">
        <div class="img-loc" style="position: relative; display: inline-block;">
        <a href="https://www.google.com/maps/place/1013,+Tambon+Mae+Win,+Amphoe+Mae+Wang,+Chang+Wat+Chiang+Mai+50360,+Tha%C3%AFlande/@18.6415261,98.6974426,17z/data=!3m1!4b1!4m17!1m10!3m9!1s0x30da4d63e6527bd5:0x4e73636acec2e261!2sChiang+Mai+Elephant+Friends!5m2!4m1!1i2!8m2!3d18.6400094!4d98.6995283!16s%2Fg%2F11h_wnzx__!3m5!1s0x30da4d034fefef0b:0xf3e220205a4996ad!8m2!3d18.6415261!4d98.7000175!16s%2Fg%2F11c64cmbms?entry=ttu" target="_blank" class="img-loc">
          <%= image_tag "https://i.ibb.co/zmVvcdH/eleph-1-she4io.jpg", class:"iconlocal" , height:360 , width: 550 %>
        </a>
      </div>
      </div>
    </div>
  </div>
  <div class="btn-article w-margin last">
    <%= link_to "Discover", "/index", class: "btn-article about hp" %>
  </div>
</div>

<div class="div-empower-team last">
  <h1>East Asia collection</h1>
</div>
<div class="card-group hp last">
  <h2 class="hiden-on-web">Japan</h2>
  <div class="card last">
    <%= link_to "/japan", class: "image-link" do %>
      <%= image_tag "https://i.ibb.co/vk1BT3c/fujisan-qcgfjx.jpg" %>
      <div class="layer"></div>
      <div class="info">
        <h1>Japan</h1>
        <p>
          Land of the rising sun
        </p>
        <button>Discover</button>
      <% end %>
      </div>
  </div>

  <h2 class="hiden-on-web">South Korea</h2>
  <div class="card last">
    <%= link_to "/southkorea", class: "image-link" do %>
      <%= image_tag "https://i.ibb.co/gTBKkq8/korea1-yct2o3.jpg" %>
      <div class="layer"></div>
      <div class="info">
        <h1>South Korea</h1>
        <p>
          Land of the morning calm
        </p>
        <button>Discover</button>
      <% end %>
      </div>
  </div>
</div>

<%# reassurance block %>
<div class="flex-rea-block">
  <div class="flex-article-photo-title">
    <h4>How does it works?</h4>
  </div>
  <div class="rea-element">
    <div class="flex-rea-elem 1">
      <img src="https://assets-global.website-files.com/65e83d912225d0f8fcdb5a8a/65e9702540bcfb1210126f15_Knowledge%20Base.svg" alt="Knowledge Base">
      <h6>Choose a country</h6>
      <p>Select a country through the Southeast Asia, East Asia or Middle East collection.</p>
    </div>
    <div class="flex-rea-elem 2" style="margin-top: 8px;">
      <img src="https://assets-global.website-files.com/65e83d912225d0f8fcdb5a8a/65eeb5e3e2366c8ce9a52d7a_AI%20suggestion.svg" alt="Knowledge Base">
      <h6>Read the to-do</h6>
      <p>Take a look to our to-do and tips.</p>
    </div>
    <div class="flex-rea-elem 3" style="margin-top: 8px;">
      <img src="https://assets-global.website-files.com/65e83d912225d0f8fcdb5a8a/65eec93d98fd26e574270d76_Comment-03%20(1).svg" alt="Knowledge Base">
      <h6>Check when it's done</h6>
      <p>When you did it, don't forget to check it!</p>
    </div>
  </div>
  <div class="btn-article">
    <%= link_to "Discover", "/index", class: "btn-article about hp" %>
  </div>
</div>

<%# article %>
<div class="flex-about-hp2">
  <div class="flex-article-photo-title">
    <h4>About us</h4>
  </div>
  <div class="flex-article">
    <div class="artcile-img">
            <div class="img-loc" style="position: relative; display: inline-block;">
        <a href="https://www.google.com/maps/place/1013,+Tambon+Mae+Win,+Amphoe+Mae+Wang,+Chang+Wat+Chiang+Mai+50360,+Tha%C3%AFlande/@18.6415261,98.6974426,17z/data=!3m1!4b1!4m17!1m10!3m9!1s0x30da4d63e6527bd5:0x4e73636acec2e261!2sChiang+Mai+Elephant+Friends!5m2!4m1!1i2!8m2!3d18.6400094!4d98.6995283!16s%2Fg%2F11h_wnzx__!3m5!1s0x30da4d034fefef0b:0xf3e220205a4996ad!8m2!3d18.6415261!4d98.7000175!16s%2Fg%2F11c64cmbms?entry=ttu" target="_blank" class="img-loc">
          <%= image_tag "https://i.ibb.co/ZBwvLYH/japan-me-tbj0nc.jpg", class:"iconlocal" , height:570 , width: 440, class: "article-img" %>
                  <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23ffffff' d='M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z'/%3E%3C/svg%3E" class="iconuniqueloc" style="position: absolute;top: 3%;left: 41%;left: 87%;opacity: 0.5;nsform: translate(-50%, -50%);width: 26px;height: auto;">
        </a>
      </div>
    </div>
    <div class="article-text">
      <h2>About us</h2>
      <p>We are Somya and Youness, a happy French-Moroccan married couple. <br><br>
      After working hard for almost 6 years in the tech ecosystem, me (Somya) as an E-store specialist and
      Youness as a Customer success manager, we've decided to live our dream, <b>explore Asia</b>. <br>
      Unpredictable by nature, we've packed our bags and went through this journey to the unknown for the next 6 months. <br><br>
      We've tasted genuine freedom, from the marvellous Ninh Binh valley to the ancient temples of Angkor Wat
      and the majestic Mount Fuji. <br> We've explored <b>10 countries</b> from the Far East to the Middle East,
      experimenting unique cultures, flavorful cuisines and deep connections with amazing locals. <br><br>
      We wanted to share
      our tips with you in a simple way for you to follow, that's why we've created <b>Tou-do-rist</b>, the To-Do lists
      for the tourists, to regroup all the must dos we advice you to experience in these locations : Vietnam, Indonesia,
      Thailand, The Philippines, South-Korea, Japan, Cambodia, Malaysia, UAE and Saudi Arabia!
      We really hope you'll appreciate our tips !
      </p>
      <div class="btn-article">
        <%= link_to "Discover", "/about", class: "btn-article" %>
      </div>
    </div>
  </div>
</div>

<%= render 'components/footer' %>
