 <%= render 'components/navbar' %>
<div class="all">
<%# <div class="banner-hp">
        <div class="banner cambia" style="background-image: url('/assets/banner-p.jpeg');">
          <div class="container">
            <h1><strong>Philippines</strong></h1>
            <p>The hidden treasures of Cambodia, where history and adventure collide.</p>
          </div>
        </div>
      </div> %>


<%# HP PANNER %>
<div class="flex-bann-landing">
  <div class="banner lp" style="background-image: url('https://i.ibb.co/6Htt2Fy/main-j-3-vwunjt.jpg')";>
    <div class="home-titles">
      <h1>
        Japan
      </h1>
      <%# <h2>Experience a new way to share and exchange within your company for free !</h2> %>

<div class="navbar navbar-expand-sm navbar-light navbar-toudorist lp">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      <li class="nav-item active">
    <button class="btn-1" onclick="window.location.href='#myitinerary';">
      <p><%= link_to "Recommended itinerary", "#" %></p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="4"
      >
      </svg>
    </button>
    </li>
    <li class="nav-item active">
    <button class="btn-2" onclick="window.location.href='#todo';">
      <p><%= link_to "Your to-do", "#" %></p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="4"
      >
      </svg>
    </button>
    </li>
    <li class="nav-item active">
    <button class="btn-3" onclick="window.location.href='#tips';">
    <p><%= link_to "Time for tips", "#" %></p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="4"
    >
    </svg>
    </button>
          </li>
          <li class="nav-item active">
                    <button class="btn-4" onclick="window.location.href='#explore';">
    <p><%= link_to "More to explore", "#" %></p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="4"
    >
    </svg>
    </button>
    <li class="nav-item active">
                    <button class="btn-5" onclick="window.location.href='#tiktok';">
    <p><%= link_to "More on Tiktok", "#" %></p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="4"
    >
    </svg>
    </button>
    </div>
  </div>
</div>
  </div>
</div>

<%# <div class="travel-itinerary">
  <div class="itinerary-block a">
  <h6><a href="#step0">Recommended Itinerary</a></h6>
  </div>
  <div class="itinerary-block b">
  <h6><a href="#step1">Your To-Do</a></h6>
  </div>
  <div class="itinerary-block d">
  <h6><a href="#step3">Time for Tips</a></h6>
  </div>
  <div class="itinerary-block e">
  <h6><a href="#step4">More to Explore</a></h6>
  </div>
  <div class="itinerary-block e">
  <h6><a href="#step5">More on Tiktok</a></h6>
  </div>
</div> %>


<div class="myitinerary-block main japan" id="myitinerary">
    <div class="flex hiw2 block2 e">
        <h1 class="title-timefortips">Recommended
            <button>
                Itinerary
                <div class="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-4">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-5">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-6">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
            </button>
        </h1>
        <div class="flex-itinerary-blocks">
            <div class="steps-itinerary-first">
                <div class="step a">
                    <h6>1 Tokyo Prefecture</h6>
                    <p> 7 days</p>
                </div>
                <div class="step b">
                    <h6>2 Nagano Prefecture</h6>
                    <p> 7 days</p>
                </div>
                <div class="step c">
                    <h6>3 Fuji-Kawaguchiko</h6>
                    <p> 2 days</p>
                </div>
            </div>
        </div>
    </div>
    <div class="my-itinerary-img">
      <div class="img-loc" style="position: relative; display: inline-block;">
        <a href="https://www.google.com/maps/place/Lac+Kawaguchi/@35.5130827,138.7244275,14z/data=!3m1!4b1!4m6!3m5!1s0x60195fb4a5043f4f:0x29cbb24b1e337d47!8m2!3d35.5170946!4d138.7517787!16zL20vMDZ0MXYw?entry=ttu" target="_blank" class="img-loc">
          <%= image_tag "https://i.ibb.co/2jc3y7w/j-12-wxetl5.jpg", class:"iconlocal" , height:500 , width: 350 %>
          <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23ffffff' d='M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z'/%3E%3C/svg%3E" class="iconuniqueloc" style="position: absolute;top: 3%;left: 41%;left: 87%;opacity: 0.5;nsform: translate(-50%, -50%);width: 26px;height: auto;">
        </a>
      </div>
    </div>
</div>

<div class="container-todo main" id="todo">
  <div class="to-do-list-container">
      <%# <h6 class="subtitle-to-do">7 places</h6> %>
      <h1 class="title-yourtodo">Tokyo
          <button>
              To-Do
              <div class="star-1">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-2">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-3">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-4">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-5">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-6">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
          </button>
      </h1>
  </div>


  <div class="container overflow">
    <div class="todo-scroll">
      <div class="flex-center-blocks-hiw" id="step0">
        <%= image_tag "https://i.ibb.co/bdNgSW6/j-2-sfvsuk.jpg", height:500 , width: 350, class: "hiw3"%>

        <div class="flex-todo">
          <h1>Ueno</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="1" name="r" type="checkbox" id="01">
              <label for="01">Visit Ueno Park and its Sakura trees</label>
              <input value="2" name="r" type="checkbox" id="02">
              <label for="02">Visit the Imperial Palace</label>
              <input value="6" name="r" type="checkbox" id="06">
              <label for="06">Visit the Tokyo National Museum</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

      <div class="icon-logo mobile">
        <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
      </div>


      <div class="flex-center-blocks-hiw" id="step1">
        <%= image_tag "https://i.ibb.co/2ZMJYrT/j-3-vjd9jl.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="fake-div"></div>
        <div class="flex-todo b">
          <h1>Asakusa</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="3" name="r" type="checkbox" id="03">
              <label for="03">Go shopping at Don Quijote 24H</label>
              <input value="4" name="r" type="checkbox" id="04">
              <label for="04">Visit Senso-ji temple</label>
              <input value="5" name="r" type="checkbox" id="05">
              <label for="05">Visit and shop in the Tokyo Skytree</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

      <div class="icon-logo mobile">
        <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
      </div>


      <div class="flex-center-blocks-hiw" id="step3">
        <%= image_tag "https://i.ibb.co/jgFNMgt/j-4-m74ccp.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="flex-todo">
          <h1>Roppongi</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="7" name="r" type="checkbox" id="07">
              <label for="07">Have a night walk in Roppongi streets</label>
              <input value="10" name="r" type="checkbox" id="10">
              <label for="10">Visit the Art National museum</label>
              <input value="11" name="r" type="checkbox" id="11">
              <label for="11">Visit the Tokyo Tower</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

      <div class="icon-logo mobile">
        <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
      </div>

      <div class="flex-center-blocks-hiw" id="step4">
        <%= image_tag "https://i.ibb.co/4JwzmLK/j-5-c3c1es.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="flex-todo b">
          <h1>Akihabara</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="8" name="r" type="checkbox" id="08">
              <label for="08">Test Ramen at Nikoniko Mazemen</label>
              <input value="9" name="r" type="checkbox" id="09">
              <label for="09">Enjoy the folkloric Furakucho streets</label>
              <input value="12" name="r" type="checkbox" id="12">
              <label for="12">Test arcade games and shop Otaku products</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

      <div class="icon-logo mobile">
        <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
      </div>

      <div class="flex-center-blocks-hiw" id="step5">
        <%= image_tag "https://i.ibb.co/25pSJtr/j-6-kshou0.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="flex-todo">
          <h1>Shibuya</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="23" name="r" type="checkbox" id="23">
              <label for="23">Visit the famous crossing</label>
              <input value="24" name="r" type="checkbox" id="24">
              <label for="24">Shopping at Shibuya 109</label>
              <input value="25" name="r" type="checkbox" id="25">
              <label for="25">Shopping at Don Quijote</label>
              <input value="26" name="r" type="checkbox" id="26">
              <label for="26">Lunch at Sagatani Shibuya Dogenzaka</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

      <div class="icon-logo mobile">
        <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
      </div>

      <div class="flex-center-blocks-hiw" id="step4">
        <%= image_tag "https://i.ibb.co/sbrt1Lf/j-7-vyhifo.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="flex-todo b">
          <h1>Harajuku & <br>Shinjuku</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="13" name="r" type="checkbox" id="13">
              <label for="13">Take a walk in Shinjuku Golden Gai</label>
              <input value="14" name="r" type="checkbox" id="14">
              <label for="14">Go see the famous Gozilla</label>
              <input value="15" name="r" type="checkbox" id="15">
              <label for="15">Go see the cat giant screen in Shinjuku</label>
              <input value="16" name="r" type="checkbox" id="16">
              <label for="16">Take a walk at Takeshita Street in Harajuku</label>
              <input value="17" name="r" type="checkbox" id="17">
              <label for="17">Visit Yoyogi park at Harajuku</label>
              <input value="18" name="r" type="checkbox" id="18">
              <label for="18">Explore the Meiji-jingu Sanctuary</label>
              <input value="19" name="r" type="checkbox" id="19">
              <label for="19">Test the best sushi at Kidoguchi, Minato</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

      <div class="icon-logo mobile">
        <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
      </div>

      <div class="flex-center-blocks-hiw last" id="step5">
        <%= image_tag "https://i.ibb.co/pWm8Sj9/j-8-tj0yis.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="flex-todo">
          <h1>Odaiba</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="20" name="r" type="checkbox" id="20">
              <label for="20">Shopping in DiverCity Tokyo Plaza</label>
              <input value="21" name="r" type="checkbox" id="21">
              <label for="21">Shopping in Aqua City Odaiba</label>
              <input value="22" name="r" type="checkbox" id="22">
              <label for="22">Have fun at Tokyo Joypolis</label>
              <input value="27" name="r" type="checkbox" id="27">
              <label for="27">Go see the Unicorn Gundam Statue</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

      <div class="icon-logo mobile last">
        <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
      </div>
    </div>
  </div>
</div>


<div class="container-todo main" id="todo">
  <div class="to-do-list-container">
      <%# <h6 class="subtitle-to-do">7 places</h6> %>
      <h1 class="title-yourtodo">Nagano
          <button>
              To-Do
              <div class="star-1">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-2">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-3">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-4">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-5">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-6">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
          </button>
      </h1>
  </div>
</div>


  <div class="container overflow">
    <div class="todo-scroll">
      <div class="flex-center-blocks-hiw" id="step0">
        <%= image_tag "https://i.ibb.co/ySdgKyF/j-9-bmzvi6.jpg", height:500 , width: 350, class: "hiw3"%>

        <div class="flex-todo">
          <h1>Nagano</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="28" name="r" type="checkbox" id="28">
              <label for="28">Take a walk at Joyama Park.</label>
              <input value="29" name="r" type="checkbox" id="29">
              <label for="29">Visit the Zenko-ji Temple.</label>
              <input value="30" name="r" type="checkbox" id="30">
              <label for="30">Get lost at the Sando (the Approach)</label>
              <input value="31" name="r" type="checkbox" id="31">
              <label for="31">Lunch at Ogawa-no-sho Daimon</label>
              <input value="32" name="r" type="checkbox" id="32">
              <label for="32">Go see snow monkeys at Monkey Park</label>
              <input value="33" name="r" type="checkbox" id="33">
              <label for="33">Visit the Togakushi-jinja sanctuary</label>
              <input value="34" name="r" type="checkbox" id="34">
              <label for="34">Spend the day at the Hakuba ski station</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>


      <div class="icon-logo mobile">
        <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
      </div>

      <div class="flex-center-blocks-hiw" id="step1">
        <%= image_tag "https://i.ibb.co/fnR6cTb/j-10-oebntt.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="fake-div"></div>
        <div class="flex-todo b">
          <h1>Matsumoto</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="35" name="r" type="checkbox" id="35">
              <label for="35">Visit the amazing Matsumoto Temple</label>
              <input value="36" name="r" type="checkbox" id="36">
              <label for="36">Take a break at the Hangout Cafe</label>
              <input value="37" name="r" type="checkbox" id="37">
              <label for="37">Visit Narai-juku old village </label>
              <input value="38" name="r" type="checkbox" id="38">
              <label for="38">Visit Tsumago-juku old village</label>
              <input value="39" name="r" type="checkbox" id="39">
              <label for="39">Visit Magome-juku old village </label>
              <input value="40" name="r" type="checkbox" id="40">
              <label for="40">Relax in Hirayu Onsen</label>
              <input value="41" name="r" type="checkbox" id="41">
              <label for="41">Go shopping at Aeon mall</label>
              <input value="42" name="r" type="checkbox" id="42">
              <label for="42">Explore Chubu-Sangaku National Park</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>


      <div class="icon-logo mobile">
        <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
      </div>

      <div class="flex-center-blocks-hiw last" id="step3">
        <%= image_tag "https://i.ibb.co/4T2XCWr/j-11-rpzcet.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="flex-todo">
          <h1>Takayama</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="43" name="r" type="checkbox" id="43">
              <label for="43">Enjoy the Takayama market</label>
              <input value="44" name="r" type="checkbox" id="44">
              <label for="44">Roam around Takayama old city</label>
              <input value="45" name="r" type="checkbox" id="45">
              <label for="45">Taste the Hida-gyu and Hoba miso</label>
              <input value="46" name="r" type="checkbox" id="46">
              <label for="46">Book a tour to Shirakawa-Go village</label>
              <input value="47" name="r" type="checkbox" id="47">
              <label for="47">Visit Hida-no-sato village</label>
              <input value="48" name="r" type="checkbox" id="48">
              <label for="48">Explore Sakurayama Hachimangu sanctuary</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>


      <div class="icon-logo mobile last">
        <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
      </div>

    </div>
  </div>
</div>



<div class="container-todo main" id="todo">
  <div class="to-do-list-container">
      <%# <h6 class="subtitle-to-do">7 places</h6> %>
      <h1 class="title-yourtodo">Fuji
          <button>
              To-Do
              <div class="star-1">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-2">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-3">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-4">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-5">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-6">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
          </button>
      </h1>
  </div>
</div>


  <div class="container overflow fuji">
    <div class="todo-scroll">
      <div class="flex-center-blocks-hiw" id="step0">
        <%= image_tag "https://i.ibb.co/gdnpLdy/j-1-p5avvv.jpg", height:500 , width: 350, class: "hiw3"%>

        <div class="flex-todo">
          <h1>Kawaguchiko</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="49" name="r" type="checkbox" id="49">
              <label for="49">Walk/bike around Kawaguchiko Lake</label>
              <input value="50" name="r" type="checkbox" id="50">
              <label for="51">Enjoy mt Fuji view from Ohashi Bridge</label>
              <input value="51" name="r" type="checkbox" id="51">
              <label for="52">Enjoy mt Fuji view from Yagisaki Park</label>
              <input value="52" name="r" type="checkbox" id="52">
              <label for="02">Enjoy mt Fuji view from Oishi Park</label>
              <input value="53" name="r" type="checkbox" id="53">
              <label for="53">Visit the Itchiku Kubota art museum</label>
              <input value="54" name="r" type="checkbox" id="54">
              <label for="54">Climb the 398steps of the Chureito Pagoda</label>
              <input value="55" name="r" type="checkbox" id="55">
              <label for="55">Enjoy the view at the Lawson K. station</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

            <div class="icon-logo mobile">
        <%= image_tag "https://i.ibb.co/WWzx1Ky/icon-logo-trbvse.png", height: 80, width: 80, crop: :fill %>
      </div>

    </div>
  </div>

<div class="tips" id="tips">
<div class="flex hiw2 block2 main tips">
    <h1 class="title-timefortips">Time for
        <button>
            Tips
            <div class="star-1">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                    </g>
                </svg>
            </div>
            <div class="star-2">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                    </g>
                </svg>
            </div>
            <div class="star-3">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                    </g>
                </svg>
            </div>
            <div class="star-4">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                    </g>
                </svg>
            </div>
            <div class="star-5">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                    </g>
                </svg>
            </div>
            <div class="star-6">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                    </g>
                </svg>
            </div>
        </button>
    </h1>



<p> <b><b>ðŸ’¡ SIM card: </b></b>Get an e-SIM with the Nomad app<br>
    <b><b>ðŸ’¡ Transportation:</b></b> Get your international driver's licence directly online and print it at a 7eleven<br>
     Transport in Tokyo : Subway (buy a 3-day pass at a subway station or online) <br>
     Transport from Tokyo to Nagano: Cheaper way bus (about 5h), faster JR train (1h) <br>
     Transport in Nagano: Rent a car at Budget Nagano (Please refer to Japanese Automobile Federation regulations) <br>
     Transport from Tokyo to Kawaguchiko: Bus (about 2h) <br>
     Transport in Kawaguchiko: Rent a bike and a car at Budget Kawaguchiko next to Kawaguchiko Station (Please refer to Japanese Automobile Federation regimentations)
</p>
<div class="destructured-img-hiw">
      <div class="img-loc" style="position: relative; display: inline-block;">
        <a href="https://www.google.com/maps/place/Kidoguchi/@35.663797,139.7095551,17z/data=!3m2!4b1!5s0x60188b60055cea65:0x925a0df40241c71f!4m6!3m5!1s0x60188b60055cd859:0x657c19334b88ecc6!8m2!3d35.663797!4d139.71213!16s%2Fg%2F1tdfn7sx?entry=ttu" target="_blank" class="img-loc">
          <%= image_tag "https://i.ibb.co/XZTnSB8/j-13-orvqvi.jpg", class:"iconlocal" , height:500 , width: 350 %>
          <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23ffffff' d='M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z'/%3E%3C/svg%3E" class="iconuniqueloc" style="position: absolute;top: 3%;left: 41%;left: 87%;opacity: 0.5;nsform: translate(-50%, -50%);width: 26px;height: auto;">
        </a>
      </div>
            <div class="img-loc" style="position: relative; display: inline-block;">
        <a href="https://www.google.com/maps/place/Pagode+de+Chureito/@35.5012625,138.7965143,17z/data=!3m1!4b1!4m6!3m5!1s0x6019674cfd52a073:0xda57e34920aee799!8m2!3d35.5012626!4d138.8013852!16s%2Fg%2F11c1bkcr3m?entry=ttu" target="_blank" class="img-loc">
          <%= image_tag "https://i.ibb.co/WBRVhv4/j-14-qbzuvz.jpg", class:"iconlocal" , height:500 , width: 350 %>
          <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23ffffff' d='M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z'/%3E%3C/svg%3E" class="iconuniqueloc" style="position: absolute;top: 3%;left: 41%;left: 87%;opacity: 0.5;nsform: translate(-50%, -50%);width: 26px;height: auto;">
        </a>
      </div>
            <div class="img-loc" style="position: relative; display: inline-block;">
        <a href="https://www.google.com/maps/place/Village+folklorique+de+Hida+no+Sato/@36.1324902,137.2325149,17z/data=!3m1!4b1!4m6!3m5!1s0x6002bb39afd86499:0xd6a4b260c226fc44!8m2!3d36.1324902!4d137.2350898!16zL20vMGNxZjhq?entry=ttu" target="_blank" class="img-loc">
          <%= image_tag "https://i.ibb.co/1rPRw37/j-16-f5xgju.jpg", class:"iconlocal" , height:500 , width: 350 %>
          <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23ffffff' d='M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z'/%3E%3C/svg%3E" class="iconuniqueloc" style="position: absolute;top: 3%;left: 41%;left: 87%;opacity: 0.5;nsform: translate(-50%, -50%);width: 26px;height: auto;">
        </a>
      </div>
        </div>
    </div>
  </div>
</div>


<div class="more-to-explore-block main" id="explore">
    <div class="flex hiw2 block2 b">
        <h1 class="title-moretoexplore">More to
            <button>
                Explore
                <div class="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-4">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-5">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-6">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
            </button>
        </h1>
        <p>If you have more time, I recommend you to explore: <br>
            <b><b>ðŸ“ Kyoto:</b></b> Explore historic temples, tea gardens, and traditional streets. <br>
            <b><b>ðŸ“ Osaka:</b></b> Enjoy vibrant cuisine, visit Osaka Castle, and explore Dotonbori. <br>
            <b><b>ðŸ“ Hiroshima and Miyajima:</b></b> Visit the Peace Memorial Park and the iconic floating Torii gate. <br>
            <b><b>ðŸ“ Nara:</b></b> Encounter sacred deer, see the Great Buddha at Todai-ji, and visit historic temples. <br>
            <b><b>ðŸ“ Hokkaido:</b></b> Discover natural landscapes, ski resorts, hot springs, and local cuisine. <br>
            <b><b>ðŸ“ Fukuoka:</b></b> Explore Kyushu culture, visit Dazaifu Tenmangu Shrine, and enjoy city attractions. <br>
            <b><b>ðŸ“ Okinawa:</b></b> Relax on white sandy beaches, explore WWII sites, and indulge in unique Ryukyu culture.
        </p>
    </div>
    <div class="flex-img-hiw">
      <div class="img-loc" style="position: relative; display: inline-block;">
        <a href="https://www.google.com/maps/place/Fujikawaguchiko,+District+de+Minamitsuru,+Pr%C3%A9fecture+de+Yamanashi,+Japon/@35.4827203,138.6137184,12z/data=!3m1!4b1!4m6!3m5!1s0x601be06b8847241b:0x5c735674800c6246!8m2!3d35.4973138!4d138.7551994!16zL20vMDJ5aGh3?entry=ttu" target="_blank" class="img-loc">
          <%= image_tag "https://i.ibb.co/RQKn1Rc/j-15-f5vkrc.jpg", class:"iconlocal" , height:500 , width: 350 %>
          <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23ffffff' d='M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z'/%3E%3C/svg%3E" class="iconuniqueloc" style="position: absolute;top: 3%;left: 41%;left: 87%;opacity: 0.5;nsform: translate(-50%, -50%);width: 26px;height: auto;">
        </a>
      </div>
    </div>
</div>



<div class="check-out-block main" id="tiktok">
    <div class="flex hiw2 block2 c">
        <h1>More on
            <button>
                Tiktok
                <div class="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-4">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-5">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-6">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-200.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
            </button>

            <div class="section-inner">
                <div class="cases-slider embla js-embla-slider aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">

                    <div class="embla__container cursor-slider cursor-blue"  >


                        <div class="embla__slide">
                            <a href="https://www.tiktok.com/@somymym/video/7333865974262664481" class="cases-box">
                                <div class="cases-box__bg">
                                    <picture>
                                        <%= image_tag "https://i.ibb.co/QJchsLC/fond-mhvqkz.jpg" %>
                                    </picture>
                                </div>
                                <div class="cases-box__title"><h6>Tokyo through my eyes</h6></div>
                                <div class="cases-box__text"><p>Cinematic videos from Tokyo!</p></div>
                                <div class="cases-box__img">
                                    <%= video_tag "https://res.cloudinary.com/duxhipwiq/video/upload/v1713986179/Design_sans_titre_23_liahpq.mp4", autoplay: true, muted: true, loop: true, playsinline: true %>
                                </div>
                            </a>
                        </div>

                        <div class="embla__slide">
                            <a href="https://www.tiktok.com/@somymym/video/7333570789624646944" class="cases-box">
                                <div class="cases-box__bg">
                                    <picture>
                                        <%= image_tag "https://i.ibb.co/kSJs9ZD/fond-3-rnaia7.jpg" %>
                                    </picture>
                                </div>
                                <div class="cases-box__title"><h6>Nagano <br> Prefecture</h6></div>
                                <div class="cases-box__text"><p>The beauty of Japan during winter.</p></div>
                                <div class="cases-box__img">
                                    <%= video_tag "https://res.cloudinary.com/duxhipwiq/video/upload/v1713986105/Design_sans_titre_24_pqorfs.mp4", autoplay: true, muted: true, loop: true, playsinline: true %>
                                </div>
                            </a>
                        </div>

                        <div class="embla__slide last">
                            <a href="https://www.tiktok.com/@somymym/video/7330558888762281248" class="cases-box">
                                <div class="cases-box__bg">
                                    <picture>
                                        <%= image_tag "https://i.ibb.co/HNs5Ydr/fond-2-htm3sf.jpg" %>
                                    </picture>
                                </div>
                                <div class="cases-box__title"><h6>Shibuya, <br>Tokyo</h6></div>
                                <div class="cases-box__text"><p>The next station is Shibuya!</p></div>
                                <div class="cases-box__img">
                                    <%= video_tag "https://res.cloudinary.com/duxhipwiq/video/upload/v1713986101/Design_sans_titre_25_ugtvzr.mp4", autoplay: true, muted: true, loop: true, playsinline: true %>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </h1>
    </div>
</div>



<%# <div class="embla__buttons">
                        <button class="embla__button embla__button--prev" type="button">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>
</button>
<button class="embla__button embla__button--next" type="button">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
</button>
                    </div> %>



</div>

<%= render 'components/footer' %>
