<div class="navbar-lp">
  <%= render 'components/navbar' %>
</div>

  <div class="main-container all-countries">

    <div class="div-empower-team first">
  <h1>Southeast Asia collection</h1>
    </div>
    <div class="card-group">
    <h2 class="hiden-on-web">Philippines</h2>
  <div class="card">
    <%= link_to "/philippines", class: "image-link" do %>
      <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826467/philipp2_fau8qq.jpg" %>
      <div cLass="layer"></div>
      <div class="info">
        <h1>Philippines</h1>
        <p>
        From the most beautiful volcano in the world to empty beaches.
        </p>
        <button>Discover</button>
      <% end %>
    </div>
  </div>
  <h2 class="hiden-on-web">Vietnam</h2>
  <div cLass="card">
  <%= link_to "/vietnam", class: "image-link" do %>
    <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826475/v-2_xlsyby.jpg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Vietnam</h1>
      <p>
      Between rice fields to theme park.
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
  <h2 class="hiden-on-web">Indonesia</h2>
    <div cLass="card">
    <%= link_to "/indonesia", class: "image-link" do %>
      <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826369/i-10_bw5gpb.jpg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Indonesia</h1>
      <p>
      Through local wedding to instagrammable beaches.
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
</div>
    <div class="card-group">
    <h2 class="hiden-on-web">Cambodia</h2>
  <div class="card">
    <%= link_to "/cambodia", class: "image-link" do %>
      <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826363/c-16_dfv311.jpg" %>
      <div cLass="layer"></div>
      <div class="info">
        <h1>Cambodia</h1>
        <p>
        From the most beautiful volcano in the world to empty beaches.
        </p>
        <button>Discover</button>
      <% end %>
    </div>
  </div>
  <h2 class="hiden-on-web">Thailand</h2>
  <div cLass="card">
  <%= link_to "/thailand", class: "image-link" do %>
    <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826475/thailande5_ycltso.jpg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Thailand</h1>
      <p>
      Between rice fields to theme park.
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
  <h2 class="hiden-on-web">Malaysia</h2>
    <div cLass="card">
    <%= link_to "/malaysia", class: "image-link" do %>
      <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826451/malaysia1_uqn0m1.jpg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Malaysia</h1>
      <p>
      Through local wedding to instagrammable beaches.
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
</div>

<%= render 'components/footer' %>
