<div class="navbar-lp">
  <%= render 'components/navbar' %>
</div>

  <div class="main-container all-countries">

    <div class="div-empower-team first">
  <h1>Southeast Asia collection</h1>
    </div>
    <div class="card-group">
    <h2 class="hiden-on-web">Philippines</h2>
  <div class="card">
    <%= link_to "/philippines", class: "image-link" do %>
      <%= image_tag "https://i.ibb.co/dksZwNq/philipp2-fau8qq.jpg" %>
      <div cLass="layer"></div>
      <div class="info">
        <h1>The Philippines</h1>
        <p>
        Asia's pearl of the orient
        </p>
        <button>Discover</button>
      <% end %>
    </div>
  </div>
  <h2 class="hiden-on-web">Vietnam</h2>
  <div cLass="card">
  <%= link_to "/vietnam", class: "image-link" do %>
    <%= image_tag "https://i.ibb.co/xmRLS5M/v-2-xlsyby.jpg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Vietnam</h1>
      <p>
      Land of the Blue Dragon
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
  <h2 class="hiden-on-web">Indonesia</h2>
    <div cLass="card">
    <%= link_to "/indonesia", class: "image-link" do %>
      <%= image_tag "https://i.ibb.co/PFVmqtD/i-10-bw5gpb.jpg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Indonesia</h1>
      <p>
      Land of the thousand islands
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
</div>
    <div class="card-group">
    <h2 class="hiden-on-web">Cambodia</h2>
  <div class="card">
    <%= link_to "/cambodia", class: "image-link" do %>
      <%= image_tag "https://i.ibb.co/cr6F14h/c-16-dfv311.jpg" %>
      <div cLass="layer"></div>
      <div class="info">
        <h1>Cambodia</h1>
        <p>
        Kingdom of Wonder
        </p>
        <button>Discover</button>
      <% end %>
    </div>
  </div>
  <h2 class="hiden-on-web">Thailand</h2>
  <div cLass="card">
  <%= link_to "/thailand", class: "image-link" do %>
    <%= image_tag "https://i.ibb.co/QrbZ5sQ/thailande5-ycltso.jpg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Thailand</h1>
      <p>
      Land of smiles
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
  <h2 class="hiden-on-web">Malaysia</h2>
    <div cLass="card">
    <%= link_to "/malaysia", class: "image-link" do %>
      <%= image_tag "https://i.ibb.co/CmjNXpf/malaysia1-uqn0m1.jpg" %>
    <div cLass="layer"></div>
    <div class="info">
      <h1>Malaysia</h1>
      <p>
      Land of the Hornbill
      </p>
      <button>Discover</button>
      <% end %>
    </div>
  </div>
</div>

<%= render 'components/footer' %>
