


 <%= render 'components/navbar' %>
<%# <div class="banner-hp">
        <div class="banner cambia" style="background-image: url('/assets/banner-p.jpeg');">
          <div class="container">
            <h1><strong>Philippines</strong></h1>
            <p>The hidden treasures of Cambodia, where history and adventure collide.</p>
          </div>
        </div>
      </div> %>

<div class="all">
<%# HP PANNER %>
<div class="flex-bann-landing">
  <div class="banner lp" style="background-image: url('https://res.cloudinary.com/dbir145pd/image/upload/v1711826450/main-t-4_fobhdd.jpg')";>
    <div class="home-titles">
      <h1>
        Thailand
      </h1>
      <%# <h2>Experience a new way to share and exchange within your company for free !</h2> %>

<div class="navbar navbar-expand-sm navbar-light navbar-toudorist lp">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      <li class="nav-item active">
    <button class="btn-1" onclick="window.location.href='#myitinerary';">
      <p><%= link_to "Recommended itinerary", "#" %></p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="4"
      >
      </svg>
    </button>
    </li>
    <li class="nav-item active">
    <button class="btn-2" onclick="window.location.href='#todo';">
      <p><%= link_to "Your to-do", "#" %></p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="4"
      >
      </svg>
    </button>
    </li>
    <li class="nav-item active">
    <button class="btn-3" onclick="window.location.href='#tips';">
    <p><%= link_to "Time for tips", "#" %></p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="4"
    >
    </svg>
    </button>
          </li>
          <li class="nav-item active">
                    <button class="btn-4" onclick="window.location.href='#explore';">
    <p><%= link_to "More to explore", "#" %></p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="4"
    >
    </svg>
    </button>
    <li class="nav-item active">
                    <button class="btn-5" onclick="window.location.href='#tiktok';">
    <p><%= link_to "More on Tiktok", "#" %></p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="4"
    >
    </svg>
    </button>
    </div>
  </div>
</div>
  </div>
</div>

<%# <div class="travel-itinerary">
  <div class="itinerary-block a">
  <h6><a href="#step0">Recommended Itinerary</a></h6>
  </div>
  <div class="itinerary-block b">
  <h6><a href="#step1">Your To-Do</a></h6>
  </div>
  <div class="itinerary-block d">
  <h6><a href="#step3">Time for Tips</a></h6>
  </div>
  <div class="itinerary-block e">
  <h6><a href="#step4">More to Explore</a></h6>
  </div>
  <div class="itinerary-block e">
  <h6><a href="#step5">More on Tiktok</a></h6>
  </div>
</div> %>


<div class="myitinerary-block main" id="myitinerary">
    <div class="flex hiw2 block2 e">
        <h1 class="title-timefortips">Recommended
            <button>
                Itinerary
                <div class="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-4">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-5">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-6">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
            </button>
        </h1>
        <div class="flex-itinerary-blocks">
            <div class="steps-itinerary-first">
                <div class="step a">
                    <h6>1 Bangkok</h6>
                    <p> 1 day</p>
                </div>
                <div class="step b">
                    <h6>2 Chiang Mai</h6>
                    <p> 2 days</p>
                </div>
                <div class="step c">
                    <h6>3 Chiang Rai</h6>
                    <p> 2 days</p>
                </div>
            </div>
            <div class="steps-itinerary-second">
                  <div class="step d">
                    <h6>4 Krabi</h6>
                    <p> 3 days</p>
                </div>
                <div class="step e">
                    <h6>5 Koh Mook</h6>
                    <p> 3 days</p>
                </div>
                <div class="step e">
                    <h6>6 Koh Lipe</h6>
                    <p> 3 days</p>
                </div>
            </div>
        </div>
    </div>
    <div class="my-itinerary-img">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826469/t-6_ypp4bf.jpg", height:500 , width: 350, class: "hiw3"%>
    </div>
</div>

<div class="container-todo main" id="todo">
  <div class="to-do-list-container">
      <%# <h6 class="subtitle-to-do">7 places</h6> %>
      <h1 class="title-yourtodo">Your
          <button>
              To-Do
              <div class="star-1">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-2">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-3">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-4">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-5">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
              <div class="star-6">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Layer_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                          <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                      </g>
                  </svg>
              </div>
          </button>
      </h1>
  </div>


  <div class="container overflow">
    <div class="todo-scroll">
      <div class="flex-center-blocks-hiw" id="step0">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826469/t-5_eywjld.jpg", height:500 , width: 350, class: "hiw3"%>

        <div class="flex-todo">
          <h1>Bangkok</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input checked="" value="1" name="r" type="checkbox" id="01">
              <label for="01">Shop at Icon siam mall</label>
              <input value="2" name="r" type="checkbox" id="02">
              <label for="02">Visit the palace</label>
              <input value="3" name="r" type="checkbox" id="03">
              <label for="03">Visit Chinatown</label>
              <input value="4" name="r" type="checkbox" id="04">
              <label for="04">Shop at EM quartier and EM sphere mall</label>
              <input value="5" name="r" type="checkbox" id="05">
              <label for="05">Shop at Chatuchak weekend market</label>
              <input value="5" name="r" type="checkbox" id="05">
              <label for="05">Spend the day at Ayuteyah</label>
              <input value="5" name="r" type="checkbox" id="05">
              <label for="05">Pad thai restaurant</label>
              <input value="5" name="r" type="checkbox" id="05">
              <label for="05">Explore the Floating Market</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711966349/icon-logo_x9a3yt.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>


      <div class="icon-logo mobile">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711966349/icon-logo_x9a3yt.png", height: 80, width: 80, crop: :fill %>
      </div>


      <div class="flex-center-blocks-hiw" id="step1">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826474/thailande6_aufknm.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="fake-div"></div>
        <div class="flex-todo b">
          <h1>Chiang Mai</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input checked="" value="9" name="r" type="checkbox" id="09">
              <label for="09">See elephants at Elephant and friends</label>
              <input value="10" name="r" type="checkbox" id="10">
              <label for="10">See elephants at Chai Lai orchid sanctuary</label>
              <input value="10" name="r" type="checkbox" id="10">
              <label for="10">Lunch at Chai Lai orchid sanctuary</label>
              <input value="11" name="r" type="checkbox" id="11">
              <label for="11">Shop and eat at OneNimann</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711966349/icon-logo_x9a3yt.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

      <div class="icon-logo mobile">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711966349/icon-logo_x9a3yt.png", height: 80, width: 80, crop: :fill %>
      </div>


      <div class="flex-center-blocks-hiw" id="step3">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826467/t-1_tgzqkk.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="flex-todo">
          <h1>Chiang Rai</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input checked="" value="1" name="r" type="checkbox" id="01">
              <label for="01">Visit the White temple</label>
              <input value="2" name="r" type="checkbox" id="02">
              <label for="02">Visit the Blue temple</label>
              <input value="3" name="r" type="checkbox" id="03">
              <label for="03">Visit Big Budha</label>
              <input value="4" name="r" type="checkbox" id="04">
              <label for="04">Eat at Lallita cafe</label>
              <input value="4" name="r" type="checkbox" id="04">
              <label for="04">Take a break at Cat cafe</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711966349/icon-logo_x9a3yt.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

      <div class="icon-logo mobile">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711966349/icon-logo_x9a3yt.png", height: 80, width: 80, crop: :fill %>
      </div>


      <div class="flex-center-blocks-hiw" id="step4">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826470/t-8_rxfny2.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="flex-todo b">
          <h1>Krabi</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="1" name="r" type="checkbox" id="20">
              <label for="01">Walk at Railay Beach</label>
              <input value="2" name="r" type="checkbox" id="21">
              <label for="02">Island hopping at Phi Phi Islands</label>
              <input value="3" name="r" type="checkbox" id="22">
              <label for="03">Explore Emerald Pool</label>
              <input value="3" name="r" type="checkbox" id="22">
              <label for="03">Explore Tiger Cave Temple</label>
              <input value="3" name="r" type="checkbox" id="22">
              <label for="03">Enjoy at Ao Nang Beach</label>
              <input value="3" name="r" type="checkbox" id="22">
              <label for="03">Discover Hong Islands</label>
              <input value="3" name="r" type="checkbox" id="22">
              <label for="03">Explore Thung Teao forest</label>
              <input value="3" name="r" type="checkbox" id="22">
              <label for="03">Try local food at Krabi night market</label>
              <input value="3" name="r" type="checkbox" id="22">
              <label for="03">Go to Elephant sanctuary</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711966349/icon-logo_x9a3yt.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

      <div class="icon-logo mobile">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711966349/icon-logo_x9a3yt.png", height: 80, width: 80, crop: :fill %>
      </div>


      <div class="flex-center-blocks-hiw" id="step5">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826471/t-11_mjaayy.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="flex-todo">
          <h1>Koh Mook</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="23" name="r" type="checkbox" id="23">
              <label for="23">Kayaking to Emerald Cave</label>
              <input value="24" name="r" type="checkbox" id="24">
              <label for="24">Enjoy at Sivalai Beach</label>
              <input value="25" name="r" type="checkbox" id="25">
              <label for="25">Enjoy at Farang Beach</label>
              <input value="26" name="r" type="checkbox" id="26">
              <label for="26">Go to a Jungle trail</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711966349/icon-logo_x9a3yt.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

      <div class="icon-logo mobile">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711966349/icon-logo_x9a3yt.png", height: 80, width: 80, crop: :fill %>
      </div>


      <div class="flex-center-blocks-hiw last" id="step4">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826468/t-4_ozycej.jpg", height:500 , width: 350, class: "hiw3"%>
        <div class="flex-todo b">
          <h1>Koh Lipe</h1>
          <div class="step1-hiw-block">
            <div id="checklist">
              <input value="1" name="r" type="checkbox" id="20">
              <label for="01">See the sunset at Sunset Beach</label>
              <input value="2" name="r" type="checkbox" id="21">
              <label for="02">Go kayaking to Koh Adang</label>
              <input value="3" name="r" type="checkbox" id="22">
              <label for="03">Enjoy at Pattaya beach</label>
              <input value="3" name="r" type="checkbox" id="22">
              <label for="03">Enjoy at Pantai Galah beach</label>
              <input value="3" name="r" type="checkbox" id="22">
              <label for="03">Walk at Koh Lipe walking street</label>
              <input value="3" name="r" type="checkbox" id="22">
              <label for="03">Try the famous coconut cakes</label>
            </div>
          </div>
        </div>
        <div class="icon-logo">
          <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711966349/icon-logo_x9a3yt.png", height: 80, width: 80, crop: :fill %>
        </div>
      </div>

      <div class="icon-logo mobile last">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711966349/icon-logo_x9a3yt.png", height: 80, width: 80, crop: :fill %>
      </div>

    </div>
  </div>
</div>

<div class="tips" id="tips">
<div class="flex hiw2 block2 main tips">
    <h1 class="title-timefortips">Time for
        <button>
            Tips
            <div class="star-1">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                    </g>
                </svg>
            </div>
            <div class="star-2">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                    </g>
                </svg>
            </div>
            <div class="star-3">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                    </g>
                </svg>
            </div>
            <div class="star-4">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                    </g>
                </svg>
            </div>
            <div class="star-5">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                    </g>
                </svg>
            </div>
            <div class="star-6">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                    </g>
                </svg>
            </div>
        </button>
    </h1>



<p>- Get the SIM card directly at the airport: True 5G is good.
    <br>
    - Remember to bring a snorkeling mask, there are spots everywhere, it avoids renting one each time <br>
    - Bring <a href="https://www.decathlon.my/p/isothermal-cover-for-hiking-water-bottle-1-2-to-1-5-litre-grey-blue-quechua-8575942.html">this bottle bag</a> for excursions, and a waterproof bag<br>
    - Best way to get around islands is by scooter, best way to get from island to island is by boat, best way to get from city to city is by train or plane (book trains directly on 12gosia, book boats directly at the port it's way cheaper than on 12goasia, book flight directly on companies website but using skyscanner, and for scooters you can ask your hotel/Airbnb to put you in touch with rental agencies). <br>
    - Sleeper train are a really good way to explore the country from South to North, it's cheap (around 650baht) and a unique experience, I highly recommend (economic way to go from Bangkok to Chiang Mai et from south islands to Bangkok). <br>
    - There are many Elephant sanctuary in thailand, be sure to go to an ethical place, elephants must not be ridden and poorly treated... <br>
    - In Bangkok some people can try to scam you by making you believe that the places to visit are closed and that they can take you to see other good places, don't trust them!
</p>
<div class="destructured-img-hiw">
    <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826472/thailande2_bbwvdm.jpg", height:500 , width: 350, class: "hiw3"%>
    <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826470/t-9_fyxrsm.jpg", height:500 , width: 350, class: "hiw1"%>
    <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826471/t-10_rirqe2.jpg", height:500 , width: 350, class: "hiw4"%>
      </div>
    </div>
  </div>
</div>


<div class="more-to-explore-block main" id="explore">
    <div class="flex hiw2 block2 b">
        <h1 class="title-moretoexplore">More to
            <button>
                Explore
                <div class="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-4">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
<path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-5">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-6">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
            </button>
        </h1>
        <p>If you have more time, I recommend you to explore: <br>
            - Pai (Waterfalls: Mo Paeng, Pam Bok, Pai Canyon, Night markets, live music)<br>
            - Sukhothai (Sukhothai Historical Park, Ramkhamhaeng Museum, Night market) <br>
            - Koh Samui (White sandy beaches, Big Buddha at Wat Phra Yai, Ang Thong Marine Park) <br>
            - Koh Tao (World-class scuba diving, Snorkeling) <br>
            - Koh Lanta (Tranquil beaches, Koh Lanta National Park)
        </p>
    </div>
    <div class="flex-img-hiw">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826473/thailande1_wemzfm.jpg", height:500 , width: 350, class: "hiw3" %>
    </div>
</div>



<div class="check-out-block main" id="tiktok">
    <div class="flex hiw2 block2 c">
        <h1>More on
            <button>
                Tiktok
                <div class="star-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-4">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-5">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
                <div class="star-6">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                            <path class="fil0" d="M392.05 0c-200.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"></path>
                        </g>
                    </svg>
                </div>
            </button>

            <div class="section-inner">
                <div class="cases-slider embla js-embla-slider aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">

                    <div class="embla__container cursor-slider cursor-blue"  >


                        <div class="embla__slide">
                            <a href="https://www.tiktok.com/@somymym/video/7312107147033152800" class="cases-box">
                                <div class="cases-box__bg">
                                    <picture>
                                        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711964940/fond_mhvqkz.jpg" %>
                                    </picture>
                                </div>
                                <div class="cases-box__title"><h6>Lalitta Cafe in Chiang Rai</h6></div>
                                <div class="cases-box__text"><p>The most beautiful cafe you've ever seen!</p></div>
                                <div class="cases-box__img">
                                    <%= video_tag "https://res.cloudinary.com/dbir145pd/video/upload/v1711860142/t-1_wmk75f.mp4", autoplay: true, muted: true, loop: true, playsinline: true %>
                                </div>
                            </a>
                        </div>

                        <div class="embla__slide">
                            <a href="https://www.tiktok.com/@somymym/photo/7319079158292778272" class="cases-box">
                                <div class="cases-box__bg">
                                    <picture>
                                        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711964927/fond-3_rnaia7.jpg" %>
                                    </picture>
                                </div>
                                <div class="cases-box__title"><h6>White Temple</h6></div>
                                <div class="cases-box__text"><p>Chiang Rai is famous for this unique white temple, this is definitely a must do!</p></div>
                                <div class="cases-box__img">
                                    <%= video_tag "https://res.cloudinary.com/dbir145pd/video/upload/v1711860108/t-2_whdgwl.mp4", autoplay: true, muted: true, loop: true, playsinline: true %>
                                </div>
                            </a>
                        </div>

                        <div class="embla__slide last">
                            <a href="https://www.tiktok.com/@somymym/photo/7316582493082094881" class="cases-box">
                                <div class="cases-box__bg">
                                    <picture>
                                        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711964914/fond-2_htm3sf.jpg" %>
                                    </picture>
                                </div>
                                <div class="cases-box__title"><h6>North of Thailand</h6></div>
                                <div class="cases-box__text"><p>Few shots that will make you take a flight to northern thailand!</p></div>
                                <div class="cases-box__img">
                                    <%= video_tag "https://res.cloudinary.com/dbir145pd/video/upload/v1711860128/t-3_ssyy7t.mp4", autoplay: true, muted: true, loop: true, playsinline: true %>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </h1>
    </div>
</div>














<%# <div class="embla__buttons">
                        <button class="embla__button embla__button--prev" type="button">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>
</button>
<button class="embla__button embla__button--next" type="button">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
</button>
                    </div> %>

</div>

<%= render 'components/footer' %>
