<%= render 'components/navbar' %>

<div class="wrapper about">
  <div class="main-container">
    <div class="div-empower-team last roadtrip">
      <h1>About us</h1>
    </div>
    <div class="flex-about-page">
      <p>We are Somya and Youness, a happy French-Moroccan married couple. <br><br>
      After working hard for almost 6 years in the tech ecosystem, me (Somya) as an E-store specialist and
      Youness as a Customer success manager, we've decided to live our dream, <b>explore Asia</b>. <br>
      Unpredictable by nature, we've packed our bags and went through this journey to the unknown for the next 6 months. <br><br>
      We've tasted genuine freedom, from the marvellous Ninh Binh valley to the ancient temples of Angkor Wat
      and the majestic Mount Fuji. <br> We've explored <b>10 countries</b> from the Far East to the Middle East,
      experimenting unique cultures, flavorful cuisines and deep connections with amazing locals. <br><br>
      We wanted to share
      our tips with you in a simple way for you to follow, that's why we've created <b>Tou-do-rist</b>, the To-Do lists
      for the tourists, to regroup all the must dos we advice you to experience in these locations : Vietnam, Indonesia,
      Thailand, The Philippines, South-Korea, Japan, Cambodia, Malaysia, UAE and Saudi Arabia!
      We really hope you'll appreciate our tips !
      </p>


    <div class="flex-img-hiw">
          <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826453/p-5_jboa9l.jpg", height:500 , width: 370, class: "hiw1", crop: "fill"%>
    </div>
     </div>
  </div>
  </div>



<div class="roadtrip about">
  <div class="div-empower-team">
    <h1>Our roadtrip</h1>
    <div class="flex div-3blocks">
      <div class="eyt-block a">
        <h3 class="eyt-text-a">After</h3>
        <h3 class="eyt-text-b">6 months</h3>
        <h3 class="eyt-text-c">backpacking from the Far East to the Middle East.</h3>
      </div>
      <div class="eyt-block b">
        <h3 class="eyt-text-a">Discovering</h3>
        <h3 class="eyt-text-b">10 countries</h3>
        <h3 class="eyt-text-c">from the marvellous Ninh Binh valley to the majestic Mount Fuji.</h3>
      </div>
      <div class="eyt-block c">
        <h3 class="eyt-text-a">And more than</h3>
        <h3 class="eyt-text-b">+35000km</h3>
        <h3 class="eyt-text-c">by bus, sleeper train, tuktuk and plane.</h3>
      </div>
    </div>
    <div class="flex div-2blocks">
      <div class="eyt-block d">
        <h3 class="eyt-text-a">We share with you</h3>
        <h3 class="eyt-text-b">Our to-do list of must-dos in each country.</h3>
      </div>
      <div class="eyt-block e img">
            <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711826365/eleph-1_she4io.jpg", height: 360, width: 550, crop: :cover %>
      </div>
    </div>
  </div>
  <div class="btn-article w-margin">
    <%= link_to "Discover", "/index", class: "btn-article about hp" %>
  </div>
</div>



        <%# banner-hp %>
      <%# <div class="banner-hp">
        <div class="banner" style="background-image: url('/assets/banner-angkor.png');">
          <div class="container">
            <h1><strong>Cambodia</strong></h1>
            <p>The hidden treasures of Cambodia, where history and adventure collide.</p>
            <div class="btn-hp-end">
              <%= link_to "Discover Cambodia", "/cambodia", class: "btn" %>
            <%# </div>
          </div>
        </div>
      </div> %>

      </div>
    </div>
  </div>
</div>
</div>
<%= render 'components/footer' %>
